.cart-container{
  
  
  table {
    width: 60%;
      border-collapse: collapse;

      .quantity-selector button{
        border: none;
        background-color: transparent;
      }
  }

  tr{
    text-align: left;
    padding: 200px 0;
    border-bottom: 1px solid;
    td{
      padding: 20px 0;
      max-width: 80px;
    }
  }

  .cart-item{
    img{
      width: 80%;
    }
  }

  .cart-total{
    text-align: end;
    font-size: 40px;
  }
}